        body, html {
            margin: 0px auto;
               width: 100%;
        }
        #nav {

            position: fixed;
            height: 40px;
            width: 100%;
            font-family: "open sans light", "Helvetica Neue", Helvetica, arial, sans-serif;
            background: #F9F9F9;
            border-bottom: 1px solid #ADADAD;
            text-align: center;
        }
        li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        a{
            color: black;
            text-decoration: none;
        }
        li:hover {
            border-bottom: 1px solid red;
            background: #DFDFDF
        }
        #nav li
        {
            text-decoration: none;
            color: #000000;
            /*float: none;*/
        }
        #nav ul {
            margin-top: 0px;
        }
        #nav ul li a {
            /*  display: block;*/
        }
        #logo {
            display: inline;
            font-size: 25px;
            text-align: left;
        }
        #main {
            padding-top: 43px;
            width: '100%';
            margin: 0 auto;
        }
        #left {
            float: left;
           width: 25%;

       }
       #right {
        float: right;
           width: 75%;

       }
#nav {
        z-index:50;
        }
        #main {
        z-index: 5;
        }
